################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EWSEditor/obj
/EWSEditor/.vs/EWSEditor/v15/.suo

/EWSEditor.zip
/EWSEditor Beta 1.19.zip
/EwsEditor 1.18 plus new stuff.zip
/EwsEditor 1.23 - Bin.zip
/EWSEditor 1.23 - code.zip
