<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EWSEditor.Settings.Internals.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <switches>
      <!-- EWSEditor Tracing Levels -->
      <!-- 0 = Off -->
      <!-- 1 = Error - Log all error dialog messages and unhandled exceptions-->
      <!-- 2 = Warning - Log all warning dialog messages -->
      <!-- 3 = Information - Log state information that may be useful -->
      <!-- 4 = Verbose - Log handled exceptions and debug messages -->
      <add name="EWSEditorTracing" value="4" />
    </switches>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <EWSEditor.Settings.Internals.UserSettings>
      <setting name="DebugOutputFile" serializeAs="String">
        <value />
      </setting>
      <setting name="ShouldSaveDebugOutput" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowSplash" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowAutodiscoverRedirect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DumpFolderViewSize" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="FindItemViewSize" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="FindFolderViewSize" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="CalendarViewSize" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="EnableSslDetailLogging" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserAgent" serializeAs="String">
        <value>EWSEditor</value>
      </setting>
      <setting name="EnableScpLookups" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OverrideCertValidation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Timeout" serializeAs="String">
        <value>100000</value>
      </setting>
      <setting name="OverrideTimeout" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PreAuthenticate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OverrideTimezone" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectedTimeZoneId" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyServerName" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="ProxyServerPort" serializeAs="String">
        <value>8888</value>
      </setting>
      <setting name="ProxyServerUser" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyServerPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyServerDomain" serializeAs="String">
        <value />
      </setting>
      <setting name="SpecifyProxySettings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OverrideProxyCredentials" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SetDefaultProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BypassProxyForLocalAddress" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AddTimeZoneContext" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectedTimeZoneContextId" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableAdditionalHeader1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AdditionalHeader1" serializeAs="String">
        <value />
      </setting>
      <setting name="AdditionalHeaderValue1" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableAdditionalHeader2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AdditionalHeader2" serializeAs="String">
        <value />
      </setting>
      <setting name="AdditionalHeaderValue2" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableAdditionalHeader3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AdditionalHeader3" serializeAs="String">
        <value />
      </setting>
      <setting name="AdditionalHeaderValue3" serializeAs="String">
        <value />
      </setting>
      <setting name="LogSecurityToken" serializeAs="String">
        <value>False</value>
      </setting>
    </EWSEditor.Settings.Internals.UserSettings>
  </userSettings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <system.serviceModel>
    <bindings />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.27.0.0" newVersion="6.27.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
