<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EWSEditor.Settings.Internals.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <switches>
      <!-- EWSEditor Tracing Levels -->
      <!-- 0 = Off -->
      <!-- 1 = Error - Log all error dialog messages and unhandled exceptions-->
      <!-- 2 = Warning - Log all warning dialog messages -->
      <!-- 3 = Information - Log state information that may be useful -->
      <!-- 4 = Verbose - Log handled exceptions and debug messages -->
      <add name="EWSEditorTracing" value="4"/>
    </switches>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <EWSEditor.Settings.Internals.UserSettings>
      <setting name="DebugOutputFile" serializeAs="String">
        <value/>
      </setting>
      <setting name="ShouldSaveDebugOutput" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowSplash" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowAutodiscoverRedirect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DumpFolderViewSize" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="FindItemViewSize" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="FindFolderViewSize" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="CalendarViewSize" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="EnableSslDetailLogging" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserAgent" serializeAs="String">
        <value>EWSEditor</value>
      </setting>
      <setting name="EnableScpLookups" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OverrideCertValidation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Timeout" serializeAs="String">
        <value>100000</value>
      </setting>
      <setting name="OverrideTimeout" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PreAuthenticate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OverrideTimezone" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectedTimeZoneId" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProxyServerName" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="ProxyServerPort" serializeAs="String">
        <value>8888</value>
      </setting>
      <setting name="ProxyServerUser" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProxyServerPassword" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProxyServerDomain" serializeAs="String">
        <value/>
      </setting>
      <setting name="SpecifyProxySettings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OverrideProxyCredentials" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SetDefaultProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BypassProxyForLocalAddress" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AddTimeZoneContext" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectedTimeZoneContextId" serializeAs="String">
        <value/>
      </setting>
    </EWSEditor.Settings.Internals.UserSettings>
  </userSettings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
  <system.serviceModel>
    <bindings/>
  </system.serviceModel>
</configuration>
